<ion-content style="height: 100vh;">
  <!-- Login Page -->
  <div>
    <div class="containerLogo">
      <img src="../../assets/logomancomunidad.png" alt="" />
    </div>
    <form [formGroup]="signinForm">
      <ion-item class="ion-item">
        <ion-input
          mode="md"
          class="textoInput"
          label="Correo"
          label-placement="floating"
          fill="outline"
          placeholder="example@domain.com"
          formControlName="email"
          type="email"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-item">
        <ion-input
          mode="md"
          class="textoInput"
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="****"
          formControlName="password"
          type="password"
        ></ion-input>
      </ion-item>
      <ion-button class="login-button" (click)="login()" expand="block" color="">Iniciar Sesión</ion-button>
    </form>
  </div>
</ion-content>
