<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary" class="colorToolbar">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ng-container>
        <div *ngFor="let menuItem of menuItems">
          <a class="aStyle" [routerLink]="[menuItem.link]" routerLinkActive="{{menuItem.routerLinkActive}}" [routerLinkActiveOptions]="{ exact: menuItem.exact }">
            <ion-item [button]="true">
              <ion-icon color="tertiary" slot="start" [name]="menuItem.icon" size="large" class="colorToolbar"></ion-icon>
              <ion-label>{{menuItem.label}}</ion-label>
            </ion-item>
          </a>
        </div>
      </ng-container>
      
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menubutton"></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-icon
        color="tertiary"
        slot="end"
        name="log-out-outline"
        size="large"
        class="colorToolbar"
        (click)="logout()"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main-content">
    <div class="fondo">
      <div class="">
        <div class="containerLogo">
          <img src="../../assets/logomancomunidad.png" alt="" />
        </div>
        <ion-text>
          <h1 class="textoBienvenida">
            Bienvenido/a {{ userNombre }} {{userApellido}}
          </h1>
        </ion-text>
      </div>
    </div>
  </ion-content>
</div>
